<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, <%=name%> </h1>
    <h3>you can now login to read and write blog</h3>
    <button onClick="window.location.href='/login'">Login</button>
</body>
</html>